@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;

.nav-bar{
    @include flexSpaceBetweenRow;
    background-color: $dark-purple;
    border-bottom: 1px solid $black;   
    &__logo{
        width: 4rem;
        height: 4rem;
    }
    &__list{
        @include flexSpaceAroundRow;
    }
    &__list-item :hover {
        color: $lilac;
        border-bottom: 1px solid black;
    }
}

.nav-bar a{
    color: black;
}

li {
    margin: 0 1rem;
}

