@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;

.footer {
    @include flexSpaceBetweenRow;
    background-color: $dark-purple;
    border-top: 1px solid $black;

    &__logo {
        width: 4rem;
        height: 4rem;
    }
    &__social-link-list{
        @include flexSpaceAroundRow;
    }
    &__social-img{
        width: 2rem;
        height: 2rem;
    }
}