@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;


.featured{
    background-color: $lilac;
    padding: 2rem 0;
    
    &__header{
        @include flexCenterColumn;
    }
    &__header-text{
        margin-bottom: 0;
    }
    &__project-container{
        @include flexSpaceEvenlyColumn;
        margin: 1.5rem 1rem;
        padding: 1rem 0;
    }
}