@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;

.about{
    padding: 3rem 2rem;
    background-color: $bone;

    &__header{
        @include flexCenterColumn;
    }
    &__button-container{
        @include flexCenterRow
    }

    &__text-content{
        @include flexSpaceBetweenRow;
        margin: 1.5rem auto;
        flex-direction: column-reverse;
        max-width: 1280px;
    }


    &__profile-img{
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
    }

    &__subheading{
        @include flexSpaceBetweenRow;
        
    }
    &__tech{
        max-width: 1280px;
        margin: auto;
    }
    &__tech-list{
        @include flexSpaceAroundRow;
        background-color: $dark-purple;
        border-radius: 10px;
        padding: 1rem;
        flex-wrap: wrap;
    }
    &__list{
        list-style: inside;
    }
    &__list-item{
        @include flexCenterColumn;
    }
}

.about li {
    margin: 0.25rem;
}
.change-color{
    color: #ffffff;
}
